<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="false"
         verbose="false">
<testsuites>
   <testsuite name="Wakuwakuw Test Suite">
      <directory>tests/</directory>
      <directory>tests/api</directory>
   </testsuite>
</testsuites>
  <!-- ... -->
</phpunit>